*, *:after, *:before {
	box-sizing: border-box;
}

:root{
	--darkest-blue: #3F4D84;
	--lighter-blue: #78A5FF;
	--lighter-orange: #FF6637;
	--svelte-orange: #FF3E00;
	--left-line: 7px;
	--nav-height: 50px;
	--sidebar-width: 200px;
}

html {
	height: 100%;
}

body {
	color: #333;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	height: 100%;
	line-height: 1.5;
	margin: 0;
}

a {
	color: inherit;
}

code {
	color: #555;
	background-color: #f9f9f9;
	font-family: Fira Code, inconsolata, monospace;
	font-weight: 300;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

@media (min-width: 768px) {
	:root {
		--left-line: 10px;
		--sidebar-width: 300px;
  }
  
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

}

#sapper {
	height: 100%;
}